ul {
  display: none;
  list-style: none;
}

#input-field {
  max-width: 500px;
}

label {
  font-size: 20px;
  display: inline;
  float: left;
}

#submit-button {
  margin-left: 68px;
}

.list {
  padding-top: 100px;
}